<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block" style="background: url(../../assets/images/login-bg.jpg); background-position: center; background-size: cover;"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form #formCtrl="ngForm" class="user" (ngSubmit)="loginFunction(formCtrl.value)">
                  <div class="form-group">
                    <input type="text" #emailCtrl="ngModel" [(ngModel)]="email" name="Email" [class.is-invalid]="emailCtrl.invalid && (emailCtrl.touched || submitted)" 
                    class="form-control form-control-user"  placeholder="Enter Email Address..." email required>
                    <div *ngIf="emailCtrl.invalid && (emailCtrl.touched || submitted)" class="invalid-feedback">
                      <div *ngIf="emailCtrl.errors?.required">This field is required.</div>
                      <div *ngIf="emailCtrl.errors?.email">Invalid email</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" #passwordCtrl="ngModel" [(ngModel)]="password" name="Password" [class.is-invalid]="passwordCtrl.invalid && (passwordCtrl.touched || submitted)"
                     class="form-control form-control-user"  placeholder="Password"
                     required minlength="4">
                    <div *ngIf="passwordCtrl.invalid && (passwordCtrl.touched || submitted)" class="invalid-feedback">
                      <div *ngIf="passwordCtrl.errors?.required">This field is required.</div>
                      <div *ngIf="passwordCtrl.errors?.minlength">Minimum 4 characters is required</div>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div> -->
                  
                  <button type="submit" class="btn btn-primary btn-user btn-block"><a >Login</a></button>

                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" [routerLink]="registerRoute ? ['forgot'] : ['../forgot']">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" [routerLink]="registerRoute ? ['register'] : ['../register']">Create an Account!</a>
                  <!-- <a class="small" (click)="goToRegister()">Create an Account!</a>  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>